# Python virtual environment
.venv/
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive credentials & local databases
.env
*.db
*.log
log_output.txt
temp.txt
tmp.txt
*.jpg
*.png
*.zip
